@page
@model FrontEnd.Pages.EstacionMetModel
@{
}
<h1>ESTACION METEOROLOGICA</h1>
<section id="contenido1">
    <h2>Crear estacioon Meterológica</h2>
    <p>Ingresar datos de una estación meterológica nueva</p>
    <a class="nav-link text-dark" asp-area="" asp-page="./IngEstMet">Ingresar</a>
</section>

<section id="contenido2">
    <h2>Editar estacion Meterológica</h2>
    <p>Ingresar datos de una estación meterológica nueva</p>
    <a class="nav-link text-dark" asp-area="" asp-page="./EditEstMet">Editar</a>
</section>

<section id="contenido3">
    <h2>Ingresar datos Meterológicos</h2>
    <p>Ingreso de datos meterológicos, como temperatura, presion atmosferica, etc</p>
    <a class="nav-link text-dark" asp-area="" asp-page="./IngDatosMet">Editar</a>
</section>
