@page
@model MyApp.Namespace.IngEstMetModel
@{
}
<h1>NUEVA ESTACIÓN METEOROLÓGICA</h1>
<form action="">
    <p>CODIGO NUEVA ESTACIÓN <input type="text" name="CodEstacion"></p>
    <p>LATITUD NUEVA ESTACIÓN <input type="text" name="LatEstacion"></p>
    <p>LONGITUD NUEVA ESTACIÓN <input type="text" name="LongEstacion"></p>
    <p>MUNICIPIO NUEVA ESTACIÓN <input type="text" name="MunEstacion"></p>
    <p>FECHA DE MONTAJE <input type="date" name="FechaMontajeEstacion"></p>
    <p><input type="submit" value="Guardar"></p>
</form>